*{margin: 0;}
.scorecard{
    padding: 20px ;
    display: grid;
    background-color: orange;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 5rem;
}
.score{
    display:grid;
    justify-content: center;
    
}
.plyscore{
    display: grid;
    width: 100px;
    background-color:antiquewhite;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
}
h4{
    display: grid;
    justify-content: center;
}
